

.textOnInput {
  position: relative;
}
.textOnInput label {
  position: absolute;
  top: -15px;
  left: 23px;
  padding: 2px;
  z-index: 1;
}
.textOnInput label:after {
  content: " ";
  background-color: #fff;
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
label {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: .5rem;
}
.form-control {
  box-shadow: none !important;

}




body{
  background-color: #222222;
  color: azure;
  margin-left: 2%;
  margin-right: 2%;
}
.CodeMirror { 
  min-height: 600px;
  height: auto;
  background-color: #222222;

}
.debugbar
{
  background-color: rgb(255, 255, 255);
  position:fixed;
  top:20%;
  left:70vw;
  color:black;
  padding: 2%;
  z-index: -1;
  border-radius: 10px;
}


.inputdiv
{
  background-color: rgb(255, 255, 255);
  position:fixed;
  top:20%;
  left:20vw;
  color:black;
  padding: 2%;
  z-index: -1;
  border-radius: 10px;
  width:40vw;
}


.ioo{
  background-color:#2b2b2b;
  border: 0px;
  resize: none;
  /* background-color: #272525; */
}


.gbutton
{
    
background-color: #302f2f;
border-radius: 5px;
color: azure;
font-size: medium;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
border: none;
}




#inputdiv{
  display:none;
  z-index: 2;
  text-align: center;
}
#debugbar{
display:none;
z-index: 2;
}


.closeb
{
  margin-top:-2px;
  border-radius: 1000px;

}



